#body {
  position: relative;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #46676d;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.sidebar{
  position: relative;
}

.yesbt{
  font-size: 120%;
  display: none;
  position: absolute;
  top: 20%;
  left: 30%;
  height: 10%;
  width: 15%;
}

.nobt{
  font-size: 120%;
  display: none;
  position: absolute;
  top: 20%;
  right: 30%;
  height: 10%;
  width: 15%;
}

.select-level {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.keyboard-container {
  position: absolute;
  bottom: 22%;
  left: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 200px;
  height: 35%;
}

.keyboard-key {
  -webkit-flex-basis: 33.3%;
  flex-basis: 33.3%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 17px;
  background: #b9b9b9;
}

.keyboard-display {
  background: #000;
  color: #ffff00;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 50px;
  font-family: sans-serif;
  border: 2px solid #b9b9b9;
}

.state-0::after {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 0%;
  background: #fff;
}

.info {
  position: absolute;
  width: 200px;
  height: 8%;
  font-size: 100%;
  top: 17%;
  left: 10px;
}

.info__parametrs{
  background-color: #9C9C9C; 
}

.infocontrol{
  position: absolute;
  width: 200px;
  top:26%;
  left: 10px;
}

.infobuttons{

}

.info__speed{
  position: absolute;
  width: 73%;
  left: 25%;
}


.info__speeddisplay{
  text-align: center;
  display: inline-block;
  width: 24%;
  font-size: 140%;
  background-color:  #9C9C9C;
}

.info__play{
  text-align: center;
  font-size: 200%;
  width: 30%;
  display: none;
  background-color:  #9C9C9C; 
}

.info__ff{
  display: inline-block;
  font-size: 200%;
  width: 30%;
  margin: 5%;
  background-color:  #9C9C9C; 
}

.info__ff:hover{
  cursor: pointer;
}

.info__pause:hover{
  cursor: pointer;
}

.info__play:hover{
  cursor: pointer;
}

.info__speed:hover{
  cursor: pointer;
}
.info__pause{
  text-align: center;
  display: inline-block;
  font-size: 200%;
  width:30%;
  background-color:  #9C9C9C; 
}

.info p {
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 2%;
}

.info__parametrs p{
  margin-left: 2%;
}

.levelsinfo {
  position: absolute;
  font-size: 100%;
  width: 200px;
  height: 10%;
  top: 6%;
  left: 10px;
  text-align: left;
}

.levelsinfo p{
  margin-bottom: 2%;
  margin-left: 0%;
  margin-top: 2%;
}

.levelsinfo__airports{
  background-color: #9C9C9C; 
}

.levelsinfo__airports p{
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.keyboard__name{
  position: absolute;
  bottom: 102%;
  left:0%
}

@media (min-height:1081px)
{
  .select-level {
    /*display: none;*/
    position: absolute;
    top: 1085px;
    left: 10px;
  }
  
  .keyboard-container {
    position: absolute;
    top: 1230px;
    left: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 200px;
    height: 300px;
  }
  
  .keyboard-key {
    -webkit-flex-basis: 33.3%;
    flex-basis: 33.3%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 17px;
    background: #b9b9b9;
  }
  
  .keyboard-display {
    background: #000;
    color: #ffff00;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 50px;
    font-family: sans-serif;
    border: 2px solid #b9b9b9;
  }
  
  .info {
    position: absolute;
    width: 25%;
    font-size: 25px;
    top: 1110px;
    left: 20px;
  }
  
  .info p {
    margin: 0;
  }
  
  .levelsinfo {
    position: absolute;
    font-size: 120%;
    width: 20%;
    height: 20%;
    top: 1090px;
    right: 20px;
  }

  .levelsinfo .level {
    text-align: center;
  }
}
