#body {
  position: relative;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #46676d;
}

.select-level {
  /*display: none;*/
  position: absolute;
  top: 10px;
  left: 10px;
}

.keyboard-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 15%;
  height: 45%;
}

.keyboard-key {
  -webkit-flex-basis: 33.3%;
  flex-basis: 33.3%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 17px;
  background: #b9b9b9;
}

.keyboard-display {
  background: #000;
  color: #ffff00;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 50px;
  font-family: sans-serif;
  border: 2px solid #b9b9b9;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 200px;
  right: 200px;
  height: 20px;
  display: -webkit-flex;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

.level-bar {
  text-align: center;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
}

.level-bar span {
  z-index: 1;
  position: absolute;
  top: 2px;
}

.state-0::after {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 0%;
  background: #fff;
}

.state-1::after {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 20%;
  background: #ff0;
}
.state-2::after {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 40%;
  background: #e4e81a;
}
.state-3::after {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 60%;
  background: #bcd404;
}
.state-4::after {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 80%;
  background: #85cc00;
}
.state-5::after {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 100%;
  background: #40c100;
}
.info {
  position: absolute;
  font-size: 25px;
  bottom: 50%;
  left: 20px;
}

.info p {
  margin: 0;
}

.levelsinfo {
  position: absolute;
  font-size: 100%;
  top: 2%;
  right: 20px;
}